html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Roboto', sans-serif;
  background-color : #00539F;
}

  h1{margin : 0;
  padding : 20px 0 ;
  color : #00539F;
  text-shadow : 3px 3px 1px black;
  font-size : 40px; text-align : center;}

  p,li{ font-size : 20px;line-height: 3; letter-spacing : 10px;}
  body{width: 600px;
  margin : 0 auto;
  background-color : #FF9500;
  padding : 2 20px 20px 20px;
  border : 5px solid black;}

img{display :block;
margin:0 auto;}

a{font-size : 20px;}